@import "~bootstrap/scss/functions";

$primary: lighten(#933EC5, 5%);
// $secondary: adjust_hue($primary, -60deg);

$theme-colors: (
        "gold": gold,
        "red": #cc3333
);

$border-color: $primary;

$light: lighten($primary, 40%);
$dark: #333;

$body-bg: white;

$font-family-base: "Roboto Condensed", sans-serif;
// $headings-font-family: "Lobster", serif;
$font-size-base: 1.2rem;
$navbar-light-color: $dark;
$navbar-light-active-color: white;

$lead-font-weight: 400;

@import "~bootstrap/scss/variables";