{% extends "web/form_detail.html" %}
{% load i18n staticfiles %}


{# TODO: show done feedings #}
{# TODO: show feeding stats #}
{% block second_col %}
    <div class="col small">
        {% if object.planned_feedings %}
            <div class="card mb-3">
                <div class="card-header">{% trans "Planned feedings" %}</div>
                <div class="card-body py-2">
                    <ul class="list-unstyled mb-1">
                        {% for feeding_rel in object.planned_feedings|slice:":5" reversed %}
                            <li
                                class="d-flex align-items-center justify-content-between {% if not forloop.last %}border-bottom border-gray{% endif %}">
                            <span>
                                {{ feeding_rel.feeding.amount }}
                                {{ feeding_rel.feeding.type_feed }}
                            </span>
                                <span>
                                {{ feeding_rel.feeding.executor.last_name }},
                                {{ feeding_rel.feeding.date|default:''|date:'d.m.Y' }}
                            </span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
        {% if object.animal_stay_animal.exists %}
            <div class="card mb-3">
                <div class="card-header">{% trans "Enclosure history" %}</div>
                <div class="card-body py-2">
                    <ul class="list-unstyled mb-1">
                        {% for stay in object.animal_stay_animal.all reversed %}
                            <li
                                class="d-flex align-items-center justify-content-between {% if not forloop.last %}border-bottom border-gray{% endif %}">
                                <a href="{% url 'enclosure_detail' stay.enclosure.pk %}">{{ stay.enclosure }}</a>
                                <span>
                                    {{ stay.date_from|default:''|date:'d.m.Y' }}–{{ stay.date_to|default:''|date:'d.m.Y' }}
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
        {% if object.type_animal.trained_persons.exists and not animal.dead %}
            <div class="card mb-3">
                <div class="card-header d-flex align-items-center">
                    <span class="flex-fill">{% trans "Qualified feeders" %}</span>
                    <span class="">{% trans "New feeding" %}</span>
                </div>
                <ul class="list-group list-group-flush">
                    {% for person in object.type_animal.trained_persons.all %}
                        <li class="list-group-item d-flex align-items-center">
                            <a href="{% url "person_detail" person.pk %}" class="flex-fill">{{ person }}</a>
                            <a href="{% url "feeding_create" %}?animal={{ object.pk }}&executor={{ person.pk }}" class="btn btn-sm btn-outline-warning" title="{% trans "Plan new feeding" %}">
                                <img src="{% static "img/icons/apple.svg" %}" alt="{% trans "Feeding" %}" width="20" class="svg fill-primary">
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}