{% extends "web/base.html" %}
{% load i18n staticfiles %}

{% block title %}
    {% trans "Animals" %} |
{% endblock %}

{% block content %}
    <h1 class="d-flex justify-content-between">
        <span class="flex-fill">
            {% trans "Animals" %}
            {% if type_animal %}
                <span class="small text-gray">({{ type_animal }})</span>
            {% endif %}
            <a href="{% url 'animal_create' %}" class="btn btn-success" title="{% trans "Add new animal" %}">+</a>
        </span>
        <span class="flex-fill image-filter text-right">
            {% for tp in type_animal_list %}
                <a
                    title="{{ tp }}"
                    href="{% url 'animal_list' %}{% if tp != type_animal %}?type_animal={{ tp.id }}{% endif %}"
                    class="flex-fill text-center image-filter-item {% if type_animal and tp == type_animal %}active{% endif %}"
                >
                    <img src="{% static "img/icons/animals/"|add:tp.icon %}" width="50" alt="" class="d-inline-block">
                </a>
            {% endfor %}
        </span>
    </h1>
    <hr>
    <div class="row no-gutters justify-content-around">
        {% for animal in object_list %}
            <div class="col-12 col-md-6 col-md-4 col-xl-3 mb-3">
                {% include "web/animal_card.html" with animal=animal %}
                {% if forloop.counter|divisibleby:3 %}
                    <div class="clearfix d-block w-100"></div>
                {% endif %}
            </div>
        {% empty %}
            <div class="col-3 text-center">
                <img src="{% static "img/icons/animals/081-moon-sad.svg" %}" alt="{% trans "No animals found." %}" class="svg w-100">
                <h2 class="d-inline-block pt-3">{% trans "No animals found." %}</h2>
            </div>
        {% endfor %}
    </div>
{% endblock content %}