{% load i18n staticfiles %}
{% load render_bundle from webpack_loader %}
{% load utils %}

<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>ZIS</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Josef Kolář (xkolar71), Iva Kavánková (xkavan05), Son Hai Nguyen (xnguye16)">

    <script src="{% url 'js_reverse' %}" type="text/javascript"></script>
    {% render_bundle 'main' %}
</head>
<body>
{% block body %}
    <div class="container">
        <div class="row justify-content-between align-items-center p-3 mt-2 bg-primary text-light">
            <a class="col-1" href="{% url "home" %}">
                <img src="{% static "img/cow.png" %}" class="mh-100 d-inline-block img-fluid">
            </a>
            <a class="col-6 text-decoration-none" href="{% url "home" %}">
                <span class="display-4 text-white">ZIS</span>
            </a>
            <div class="col text-right d-flex">
                <a class="flex-fill text-white" href="{% url 'animal_list' %}">{% trans "Animals" %}</a>
                <a class="flex-fill text-white" href="{% url 'person_list' %}">{% trans "Persons" %}</a>
                <a class="flex-fill text-white" href="{% url 'enclosure_list' %}">{% trans "Enclosures" %}</a>
                <a class="flex-fill text-white" href="{% url 'calendar' %}">{% trans "Calendar" %}</a>
                <a class="flex-fill text-white" href="{% url 'help' %}">{% trans "Help" %}</a>
            </div>
        </div>
        <div class="row border-left border-right p-4 bg-light">
            <div class="col">
                {% block content %}{% endblock content %}
            </div>
        </div>
        <div class="row justify-content-between p-3 bg-primary">
            <div class="col-6">
                <small class="text-light">Josef Kolář, Iva Kavánková, Son Hai Nguyen © VUT FIT 2018</small>
            </div>
            <div class="col-2 text-right">
                <a href="{% url "admin:index" %}" class="text-light">
                    {% trans "administration" %}
                </a>
            </div>
        </div>
    </div>
{% endblock body %}


{% if messages %}
    <script>
        {# TODO: better way? #}
        {% for message in messages %}
            (window.toastr['{{ message.tags }}'] || (function () {
                console.warn('Undefined flash message with type: {{ message.tags }}.')
            }))('{{ message }}');
        {% endfor %}
    </script>
{% endif %}
<script>
    {# TODO: to scripts #}
    document.querySelectorAll('img.svg').forEach(function (img) {
        var imgID = img.id;
        var imgClass = img.className;
        var imgURL = img.src;
        var imgWidth = img.width;
        var imgHeight = img.height;

        fetch(imgURL).then(function (response) {
            return response.text();
        }).then(function (text) {

            var parser = new DOMParser();
            var xmlDoc = parser.parseFromString(text, "text/xml");

            // Get the SVG tag, ignore the rest
            var svg = xmlDoc.getElementsByTagName('svg')[0];

            // Add replaced image's ID to the new SVG
            if (typeof imgID !== 'undefined') {
                svg.setAttribute('id', imgID);
            }
            // Add replaced image's classes to the new SVG
            if (typeof imgClass !== 'undefined') {
                svg.setAttribute('class', imgClass + ' replaced-svg');
            }

            // Remove any invalid XML tags as per http://validator.w3.org
            svg.removeAttribute('xmlns:a');

            // Check if the viewport is set, if the viewport is not set the SVG wont't scale.
            if (!svg.getAttribute('viewBox') && svg.getAttribute('height') && svg.getAttribute('width')) {
                svg.setAttribute('viewBox', '0 0 ' + svg.getAttribute('height') + ' ' + svg.getAttribute('width'))
            }
            if (imgHeight) {
                svg.setAttribute('height', imgHeight)
            }
            if (imgWidth) {
                svg.setAttribute('width', imgWidth)
            }

            // Replace image with new SVG
            img.parentNode.replaceChild(svg, img);
        });
    });
</script>
</body>
</html>