{% load i18n staticfiles %}
{% load render_bundle from webpack_loader %}
{% load utils %}
<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} ZIS</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Josef Kolář (xkolar71), Iva Kavánková (xkavan05), Son Hai Nguyen (xnguye16)">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static "img/favicon/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "img/favicon/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "img/favicon/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "img/favicon/site.webmanifest" %}">
    <link rel="mask-icon" href="{% static "img/favicon/safari-pinned-tab.svg" %}" color="#a965d1">
    <link rel="shortcut icon" href="{% static "img/favicon/favicon.ico" %}">
    <meta name="msapplication-TileColor" content="#9f00a7">
    <meta name="msapplication-config" content="{% static "img/favicon/browserconfig.xml" %}">
    <meta name="theme-color" content="#ffffff">

    <script src="{% url 'js_reverse' %}" type="text/javascript"></script>
    {% render_bundle 'main' %}
</head>
<body>
{% block body %}
    <div class="container">
        <div class="row justify-content-between align-items-center p-3 mt-2 bg-primary text-light">
            <a class="col-2 d-flex align-items-center" href="{% url "home" %}">
                <img src="{% static "img/icons/animals/159-cow.svg" %}" class="mh-100 flex-fill mr-3" width="50" alt="{% trans "ZIS" %}">
                <span class="display-4 text-white text-decoration-none flex-fill">ZIS</span>
            </a>
            <div class="col-6 text-right d-flex fill-white text-lowercase justify-content-end">
                {% block menu %}
                    {% if user.is_authenticated %}
                        {% if perms.core.view_animal %}
                            <a class="mx-3 text-white d-flex flex-column align-items-center" href="{% url 'animal_list' %}">
                                <img src="{% static "img/icons/animals/165-dog.svg" %}" alt="{% trans "Animals" %}" height="45" class="svg fill-white flex-fill">
                                <span class="flex-fill">{% trans "Animals" %}</span>
                            </a>
                        {% endif %}

                        {% if perms.core.view_person %}
                            <a class="mx-3 text-white d-flex flex-column align-items-center" href="{% url 'person_list' %}">
                                <img src="{% static "img/icons/networking.svg" %}" alt="{% trans "Persons" %}" height="45" class="svg fill-white flex-fill">
                                <span class="flex-fill">{% trans "Persons" %}</span>
                            </a>
                        {% endif %}

                        {% if perms.core.view_enclosure %}
                            <a class="mx-3 text-white d-flex flex-column align-items-center" href="{% url 'enclosure_list' %}">
                                <img src="{% static "img/icons/map.svg" %}" alt="{% trans "Enclosures" %}" height="45" class="svg fill-white flex-fill">
                                <span class="flex-fill">{% trans "Enclosures" %}</span>
                            </a>
                        {% endif %}

                        {% if perms.core.view_cleaning and perms.core.view_feeding %}
                            <a class="mx-3 text-white d-flex flex-column align-items-center" href="{% url 'calendar' %}">
                                <img src="{% static "img/icons/calendar.svg" %}" alt="{% trans "Calendar" %}" height="45" class="svg fill-white flex-fill">
                                <span class="flex-fill">{% trans "Calendar" %}</span>
                            </a>
                        {% endif %}

                        <a class="mx-3 pr-2 text-white d-flex flex-column align-items-center" href="{% url 'help' %}">
                            <img src="{% static "img/icons/question.svg" %}" alt="{% trans "Help" %}" height="45" class="svg fill-white flex-fill">
                            <span class="flex-fill">{% trans "Help" %}</span>
                        </a>
                        <a class="pl-3 text-white d-flex flex-column align-items-center border-left border-light" href="{% url 'logout' %}">
                            <img src="{% static "img/icons/exit.svg" %}" alt="{% trans "Logout" %}" height="45" class="svg fill-white flex-fill">
                            <span class="flex-fill small pr-2">{{ user.get_short_name|default:user.last_name|default:user }}</span>
                        </a>
                    {% endif %}
                {% endblock menu %}
            </div>
        </div>
        <div class="row border-left border-right p-3 py-4 bg-light">
            <div class="col">
                {% block content %}{% endblock content %}
            </div>
        </div>
        <div class="row justify-content-between p-3 bg-primary text-light small">
            <div class="col">
                <a class="small text-light" href="{% url "credits" %}">
                    Josef Kolář, Iva Kavánková, Son Hai Nguyen © VUT FIT 2018
                </a>
            </div>
            <div class="col text-center">
                {% if user.is_authenticated %}
                    {{ user }}
                    {% if user.groups.exists %}
                        ({% for g in user.groups.all %}{{ g|lower }}{% if not forloop.last %}, {% endif %}{% endfor %})
                    {% endif %}
                {% endif %}
            </div>
            <div class="col text-right text-light">
                <small>{% now "j.n.Y H:i:s" %}</small>
                |
                <a href="{% url "admin:index" %}" class="text-light">
                    {% trans "administration" %}
                </a>
            </div>
        </div>
    </div>
{% endblock body %}


{% if messages %}
    <script>
        {% for message in messages %}
            (window.toastr['{{ message.tags }}'] || (function () {
                console.warn('Undefined flash message with type: {{ message.tags }}.')
            }))('{{ message }}');
        {% endfor %}
    </script>
{% endif %}
<script>
    window.zis.replaceSvgImg();
</script>
</body>
</html>