{% extends "web/base.html" %}
{% load i18n utils %}

{% block title %}
    {% trans "Calendar" %} |
{% endblock %}

{% block content %}
    <div class="row justify-content-between">
        <div class="col-6"><h1>{% trans "Calendar" %}</h1></div>
        <div class="col-6 text-right">
            <div class="btn-group d-inline-block">
                {% if perms.core.add_cleaning %}
                    <a href="{% url "cleaning_create" %}" class="btn btn-info">
                        &plus;
                        {% trans "Cleaning" %}
                    </a>
                {% endif %}
                {% if perms.core.add_feeding %}
                    <a href="{% url "feeding_create" %}" class="btn btn-warning">
                        &plus;
                        {% trans "Feeding" %}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    <hr>
    <div id="calendar"></div>
    <script>
        function and(a, b) {
            return a && b
        }

        window.zis.installCalendar(
            '#calendar',
            {
                {% comment %} Global permission for editation - it's overriden by per event editation flag. {% endcomment %}
                editable: and({{ perms.core.change_cleaning|yesno:"true,false" }}, {{ perms.core.change_feeding|yesno:"true,false" }})
            }
        );O
    </script>
    <div class="row mt-3">
        <div class="col">
            <div class="alert alert-info">
                {% trans "In standard calendar view (week/month) you can move actions in time or beetween days." %} <br>
                {% trans "For week view are displayed only times between 6:00 and 21:00 for better understanding." %} <br>
            </div>
        </div>
    </div>

{% endblock content %}