{% extends "web/base.html" %}
{% load i18n color utils %}


{% block title %}
    {% trans "Enclosures" %} |
{% endblock %}


{% block content %}
    <h1>
        {% trans "Enclosures" %}
        {% if perms.core.add_enclosure %}
            <a class="btn btn-success" href="{% url "enclosure_create" %}">+</a>
        {% endif %}
    </h1>
    <hr>
    <div id="enclosure-list"></div>
    {% if perms.core.change_animal %}
        <hr>
        <div class="mt-3 alert alert-info">
            {% trans "With drag'n drop you can transfer animals between enclosures." %}
        </div>
    {% endif %}
    <script>
        window.zis.installEnclosureList('#enclosure-list', JSON.parse('{{ data|to_json }}'));
    </script>
{% endblock content %}