{% extends "web/base.html" %}
{% load i18n %}
{% block content %}

    <p class="lead font-weight-bold">
        {% trans "You're welcome in ZOO Information System!" %}
    </p>

    <div class="row">
        <div class="col">
            {% if today_cleanings.exists or today_feedings.exists %}
                <div class="card">
                    <div class="card-header"><h5>{% trans "Today's activities" %}</h5></div>
                    <ul class="list-group list-group-flush">
                        {% for cleaning in today_cleanings %}
                            <li class="list-group-item">{{ cleaning }}: {{ cleaning.specification }}</li>
                        {% endfor %}
                        {% for feeding in today_feedings %}
                            <li class="list-group-item">{{ feeding }} {{ feeding.specification }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
        <div class="col">
            {% if actual_cleanings.exists or actual_feedings.exists %}
                <div class="card">
                    <div class="card-header"><h5>{% trans "Activities right now" %}</h5></div>
                    <ul class="list-group list-group-flush">
                        {% for cleaning in actual_cleanings %}
                            <li class="list-group-item">{{ cleaning }}: {{ cleaning.specification }}</li>
                        {% endfor %}
                        {% for feeding in actual_feedings %}
                            <li class="list-group-item">{{ feeding }} {{ feeding.specification }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>




    {% comment %}

    <div class="row">
        <div class="col-6">
            {% include "core/forms/form.html" with form=form %}
        </div>
    </div>

    {% endcomment %}

{% endblock content %}