{% extends "web/base.html" %}
{% load i18n staticfiles %}

{% block title %}
    {% trans "Persons" %} |
{% endblock %}

{% block content %}
    <h1>
        {% trans "Persons" %}
        <a href="{% url "person_create" %}" class="btn btn-success">+</a>
    </h1>
    <hr>
    <div class="row">
        {% for person in object_list %}
            <div class="col-3">
                <div class="card mb-3">
                    <img class="card-img-top" src="http://i.pravatar.cc/300?u={{ person.pk }}" alt="{% trans "Avatar" %}">
                    <div class="card-header d-flex flex-row justify-content-between align-items-center">
                        {% if perms.core.change_person %}
                            <a href="{% url "person_detail" person.pk %}" class="flex-fill">
                                {{ person }}
                            </a>
                        {% else %}
                            <span class="flex-fill">{{ person }}</span>
                        {% endif %}
                        {% if perms.core.delete_person %}
                            <a href="{% url "person_delete" person.pk %}" title="{% trans "Delete person" %}" class="btn btn-outline-danger btn-sm">
                                <img src="{% static "img/icons/trash.svg" %}" alt="{% trans "Delete person" %}" class="svg fill-gray" width="20">
                            </a>
                        {% endif %}
                    </div>
                    <div class="card-body p-2 px-4">
                        <div class="row small no-gutters">
                            {% if person.trained_type_animals.exists %}
                                <div class="col-12 no-gutters row {% if person.trained_type_enclosures.exists %}border-bottom border-gray{% endif %}" title="{% trans "Qualified type animals to feed" %}">
                                    <div class="col-2">
                                        <img
                                            src="{% static "img/icons/apple.svg" %}"
                                            alt="{% trans "Qualified type animals to feed" %}"
                                            width="20"
                                            class="svg fill-primary m-1"
                                        >
                                    </div>
                                    <div class="col">

                                        {% for ta in person.trained_type_animals.all %}
                                            {{ ta }}{% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            {% if person.trained_type_enclosures.exists %}
                                <div class="col-12 no-gutters row" title="{% trans "Qualified type enclosures to clean" %}">
                                    <div class="col-2">
                                        <img
                                            src="{% static "img/icons/duster.svg" %}"
                                            alt="{% trans "Qualified type enclosures to clean" %}"
                                            width="20"
                                            class="svg fill-primary m-1"
                                        >
                                    </div>
                                    <div class="col">
                                        {% for te in person.trained_type_enclosures.all %}
                                            {{ te }}{% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}