{% load i18n %}
{% load crispy_forms_tags utils humanize %}


<form method="POST" novalidate>
    <div class="card">
        <div class="card-header">
            <h6>
                {% if not form.updating %}
                    {% trans "New" %}
                {% endif %}
                {{ form.instance|get_verbose_name }}
                {% if form.updating %}
                    {{ form.instance }}
                {% endif %}
            </h6>
        </div>
        <div class="card-body">
            {{ form.media }}
            {% csrf_token %}
            {% crispy form %}
        </div>
        <div class="card-footer">
            <small class="float-left font-italic" title="{{ form.instance.x_modified }}">
                {% if form.updating %}
                    {% trans "Last modified at" %} {{ form.instance.x_modified|naturaltime }}.
                {% endif %}
            </small>
            <button type="submit" class="btn btn-success float-right">{% trans 'Save' %}</button>
        </div>
    </div>
</form>