{% load i18n %}
{% load crispy_forms_tags utils humanize %}


<form method="POST" novalidate>
    <div class="card">
        <div class="card-header">
            {% block title %}
                {% if not form.updating %}
                    {% trans "New" %}
                {% endif %}
                {% if form.instance %}
                    {{ form.instance|get_verbose_name }}
                {% endif %}
                {% if form.updating %}
                    {{ form.instance }}
                {% endif %}
            {% endblock %}
            {% if form.back_button %}
                <a href="#" onclick="window.history.back()" class="float-right btn btn-outline-primary">
                    {% trans "back" %}
                </a>
            {% endif %}
        </div>
        <div class="card-body">
            {% block body %}
                {% crispy form %}
            {% endblock %}
        </div>
        <div class="card-footer">
            {% block form_card_footer_left %}
                <small class="float-left font-italic" title="{{ form.instance.x_modified }}">
                    {% if form.updating %}
                        {% trans "Last modified at" %} {{ form.instance.x_modified|naturaltime }}.
                    {% endif %}

                </small>
            {% endblock form_card_footer_left %}
            <div class="btn-group float-right">
                {% if form.save_and_continue_button %}
                    <button type="submit" name="_save_and_continue" class="btn btn-outline-success">
                        {% block save_btn_continue_text %}
                            {% trans 'Save and stay' %}{% endblock save_btn_continue_text %}
                    </button>
                {% endif %}
                <button type="submit" class="btn btn-success">
                    {% block save_btn_text %}{% trans 'Save' %}{% endblock save_btn_text %}
                </button>
            </div>
        </div>
    </div>
</form>