{% extends "web/base.html" %}

{% load staticfiles i18n %}
{% block body %}
    <div class="bg-primary" style="min-height: 100vh">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-6 text-center">
                    <img src="{% static "img/icons/animals/159-cow.svg" %}" class="m-4" width="200" alt="{% trans "ZIS" %}">
                    <h1 class="h4 text-white mb-4 font-weight-bold">{% trans "Zoological information system" %}</h1>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-lg-6">
                    {% include "registration/login_form.html" with form=form %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}