{% extends "web/landing.html" %}

{% load staticfiles i18n %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-12 text-center d-flex justify-content-center align-items-center flex-column">
            <img src="{% static "img/icons/animals/122-owl.svg" %}" alt="{% trans "Email was sent!" %}" width="250" class="flex-fill">
            <div class="card">
                <div class="card-body">
                    <p class="text-primary">
                        {% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}
                    </p>
                    <p class="text-primary">
                        {% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block logo %}
    <div class="mt-5"></div>
{% endblock %}

{% block title %}
    {% trans "Lost password" %} |
{% endblock %}